{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>EMI details</h2>


<!-- 3 drop down to select project, sector, -->
<form id="reciept_options" enctype="multipart/form-data" action="{{ url_for('receipt') }}" method="post">
    <select id="project" name="project" onchange="doMagic()">
        <option value="0">Select Project</option>
        {% for project in projects %}
        <option value="{{ project }}">{{ project }}</option>
        {% endfor %}
    </select>
    <select id="month" name="month" onchange="doMagic()">
        <option value="0">Select Month</option>
        {% for month in months %}
        <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    </select>
    <button type="button" onclick="exportData()" class="btn btn-secondary">Export</button>
</form>



<table id="data" name="data" class="goodTable"></table>
<table id="uncollected" name="uncollected" class="goodTable"></table>

<!--include emi.js-->
<script src="scripts/emi.js"></script>

{% endblock %}