<!DOCTYPE html>
<html>
<head>
    <title>Incentive</title>
</head>
<body>
    {% extends 'home/layout.html' %}

    {% block title %} {{ title }} {% endblock %}

    {% block content %}
    <h2>Incentive</h2>
    <form>
        <label for="advisors">Select Advisor:</label>
        <select id="advisors" onchange="doMagic()">
            <option value="">Select Advisor</option>
            {% for advisor in advisors %}
                <option value="{{ advisor }}">{{ advisor }}</option>
            {% endfor %}
        </select>
        <label for="months">Select Months:</label>
        <select id="months" onchange="doMagic()">
            <option value="">Select Month</option>
            {% for month in months %}
                <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select>
        <!-- a button to download selecetd month incentive for all advisor-->
        <button id="download" onclick="exportData()" class="btn btn-secondary">Download</button>
    </form>
    <h2>Collected</h2>
    <table id="data" name="data" class="goodTable">
        <tr>
            <th>--</th>
        </tr>
        <tr>
            <td>
                --
            </td>
        </tr>
    </table>
    <h2>Uncollected</h2>
    <table id="uncollected" name="uncollected" class="goodTable">
    </table>
    <script src="scripts/incentive.js"></script>
    {% endblock %}
</body>
</html>

