{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>New Sale</h2>


<!-- 3 drop down to select project, sector, -->
<form id="sale_options" enctype="multipart/form-data" action="{{ url_for('new_sale') }}" method="post">
    <label for="project">Select Project:</label>
    <select id="project" name="project" onchange="populateSectors()">
        <option value="">Select Property</option>
        {% for project_name in data.keys() %}
            <option value="{{ project_name }}">{{ project_name }}</option>
        {% endfor %}
    </select>

    <label for="sector">Select Sector:</label>
    <select id="sector" onchange="populatePlots()" name="sector">
        <option value="">Select Sector</option>
    </select>

    <label>Select Plot:</label>
    <select id="plot" name="plot" onchange="fillForm()">
        <option value="">Select Plot</option>
    </select> 
    <input type="text" id="plotinput" name="plotinput" placeholder="Plot"> </br> </br>
    <fieldset>
        <legend>Status Information</legend>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="" disabled selected>Select Status</option>
            {% for status in available_status %}
                <option value="{{ status }}">{{ status }}</option> 
            {% endfor %}
        </select>
    </fieldset>
    
    <fieldset>
        <legend>Size Information</legend>
        <label for="size_width">Width:</label>
        <input type="number" id="size_width" name="size_width">
        
        <label for="size_length">Length:</label>
        <input type="number" id="size_length" name="size_length">
    </fieldset>
    
    <fieldset>
        <legend>Pricing Details</legend>
        <label for="rate">Rate:</label>
        <input type="number" id="rate" name="rate">
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">
        
        <label for="deal_price">Deal Price:</label>
        <input type="number" id="deal_price" name="deal_price">
        
        <label for="booking_amount">Booking Amount:</label>
        <input type="number" id="booking_amount" name="booking_amount">
    </fieldset>
    
    <fieldset>
        <legend>Customer Details</legend>
        <label for="customer_name">Name:</label>
        <input type="text" id="customer_name" name="customer_name">
        
        <label for="customer_phone">Phone:</label>
        <input type="number" id="customer_phone" name="customer_phone">
        
        <label for="customer_address">Address:</label>
        <input type="text" id="customer_address" name="customer_address">
    </fieldset>
    
    <fieldset>
        <legend>Advisor Information</legend>
        <label for="advisor">Advisor:</label>
        <select id="advisor" name="advisor">
            <option value="" disabled selected>Select Advisor</option>
            {% for advisor in advisors %}
                <option value="{{ advisor }}">{{ advisor }}</option>
            {% endfor %}
        </select>
        
        <label for="newadvisor">New Advisor:</label>
        <input type="text" id="newadvisor" name="newadvisor">
    </fieldset>
    
    <fieldset>
        <legend>Incentive Information</legend>
        <label for="incentive">Incentive:</label>
        <input type="number" id="incentive" name="incentive">
    </fieldset>
    
    
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="emi" id="emi">
        <label class="form-check-label" for="flexSwitchCheckDefault">EMI ?</label>
    </div>
</br>
    <!-- Placeholder with current date in DD/MM/YYYY format-->
    <label>Date:</label> </br>
    <input type="date" id="date" name="date" min="2018-01-01" max="2028-12-31"></br> </br> 
    <input type="file" name="upload" accept="application/pdf" multiple /> </br> </br>
    <p id="files">
        <strong>Files:</strong>
    </p>

    <input type="submit" value="Submit"> </br>
</form>
<script>
    document.getElementById("plotinput").addEventListener('input', function() {
        document.getElementById("plot").value = '';
        fillForm();
    });
    function populateSectors() {
        let data = {{ data | tojson }};
        const propertyDropdown = document.getElementById('project');
        const sectorDropdown = document.getElementById('sector');
        const selectedProperty = propertyDropdown.value;

        sectorDropdown.innerHTML = '<option value="">Select Sector</option>';

        if (selectedProperty) {
            const sectors = data[selectedProperty].sectors;
            for (const sector in sectors) {
                const option = document.createElement('option');
                option.value = sector;
                option.textContent = sector;
                sectorDropdown.appendChild(option);
            }
        }
    }

    function populatePlots() {
        let data = {{ data | tojson }};
        const propertyDropdown = document.getElementById('project');
        const sectorDropdown = document.getElementById('sector');
        const plotDropdown = document.getElementById('plot');
        const selectedProperty = propertyDropdown.value;
        const selectedSector = sectorDropdown.value;

        plotDropdown.innerHTML = '<option value="">Select Plot</option>';

        if (selectedProperty && selectedSector) {
            const plots = data[selectedProperty].sectors[selectedSector].plots;
            for (const plot in plots) {
                const option = document.createElement('option');
                option.value = plot;
                option.textContent = plot;
                plotDropdown.appendChild(option);
            }
        }
    }
    function hideEmiFields(){
        document.getElementById("emi_details").style.display = 'none';
    }
    function showEmiFields(){
        document.getElementById("emi_details").style.display = 'block';
    }
    function fillForm() {
        const propertyDropdown = document.getElementById('project');
        const sectorDropdown = document.getElementById('sector');
        const plotDropdown = document.getElementById('plot');
        const plotinput = document.getElementById('plotinput');
        const selectedProperty = propertyDropdown.value;
        const selectedSector = sectorDropdown.value;
        let selectedPlot = plotDropdown.value;
        const selectedPlotInput = plotinput.value;
        if (selectedPlotInput){
            selectedPlot = selectedPlotInput;
        }
        // get data from /get_backend_data/<project>/<sector>/<plot>
        // fill form with data
        const url = `/get_backend_data/${selectedProperty}/${selectedSector}/${selectedPlot}`;


        if (selectedProperty && selectedSector && selectedPlot) {
        // Making an AJAX request to the server to get data
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const plot = data;
                // plot = data[selectedProperty].sectors[selectedSector].plots[selectedPlot];
                // if plot.status.toLowercase() in ['available', 'not for sale', 'held'] then clear all the field and return
                if (['available', 'not for sale', 'held'].includes(plot.status.toLowerCase())) {
                    document.getElementById('size_width').value = '';
                    document.getElementById('size_length').value = '';
                    document.getElementById('rate').value = '';
                    document.getElementById('price').value = '';
                    document.getElementById('deal_price').value = '';
                    document.getElementById('booking_amount').value = '';
                    document.getElementById('customer_name').value = '';
                    document.getElementById('customer_phone').value = '';
                    document.getElementById('customer_address').value = '';
                    document.getElementById('date').value = '';
                    document.getElementById('status').value = plot.status;
                    document.getElementById('advisor').value = '';
                    document.getElementById('emi').value = '';
                    document.getElementById('incentive').value = '';
                    document.getElementById('files').innerHTML = '<strong>Files:</strong>';
                    return;
                }
                document.getElementById('size_width').value = plot.size[0];
                document.getElementById('size_length').value = plot.size[1];
                document.getElementById('rate').value = plot.rate;
                document.getElementById('price').value = plot.price;
                document.getElementById('deal_price').value = plot.deal_price;
                document.getElementById('booking_amount').value = plot.booking_amount;
                document.getElementById('customer_name').value = plot.customer.name;
                document.getElementById('customer_phone').value = plot.customer.phone;
                document.getElementById('customer_address').value = plot.customer.address;
                document.getElementById('date').value = plot.date;
                document.getElementById('status').value = plot.status;
                document.getElementById('advisor').value = plot.advisor;
                document.getElementById('incentive').value = plot.incentive;
                document.getElementById('emi').checked = plot.is_emi;
                document.getElementById('files').innerHTML = '<strong>Files:</strong>';
                for (const file of plot.files) {
                    const p = document.createElement('p');
                    // Creating a link (a href) to the PDF/file
                    const a = document.createElement('a');
                    a.href = file;
                    const fileName = file.split('/').pop();
                    a.textContent = fileName;
                    p.appendChild(a);
                    document.getElementById('files').appendChild(p);
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        }
    }
</script>

{% endblock %}