* {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body , #auth{
	background-color: #435165;
	margin: 0;
}
.login, .register {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.login h1, .register h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
	display: flex;
	padding: 0 15px;
}
.login .links a, .register .links a {
	color: #adb2ba;
	text-decoration: none;
	display: inline-flex;
	padding: 0 10px 10px 10px;
	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
	color: #9da3ac;
}
.login .links a.active, .register .links a.active {
	border-bottom: 3px solid #3274d6;
	color: #3274d6;
}
.login form, .register form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label, .register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #3274d6;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #3274d6;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
	background-color: #2868c7;
	transition: background-color 0.2s;
}
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
   margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
select option {
	background-color: #fff;
	color: #333;
}

/* Style the dropdown when it's open */
select:focus option:checked {
	background-color: #f0f0f0;
}

/* Style the dropdown when it's open and hovered */
select:focus option:checked:hover {
	background-color: #ddd;
}
  
/* Custom input style */
input[type="text"],
input[type="number"] {
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	color: #333;
	width: 10%;
	transition: border-color 0.3s ease-in-out;
}

/* Custom placeholder style */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  	color: #999;
}

/* Custom focus style */
input[type="text"]:focus,
input[type="number"]:focus {
	outline: none;
	border-color: #999;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style for the input[type="date"] */
input[type="date"] {
	appearance: none;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	width: 200px;
	outline: none;
  }
  
  /* Style for the input[type="date"] on focus */
  input[type="date"]:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Style for the input[type="date"] arrow */
  input[type="date"]::-webkit-calendar-picker-indicator {
	color: #333;
  }
  
  /* Style for the input[type="date"] arrow on hover */
  input[type="date"]:hover::-webkit-calendar-picker-indicator {
	color: #007bff;
  }
  

/* Styles for the .goodTable class */
.goodTable {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.goodTable thead {
    background-color: #2196F3;
    color: #fff;
}

.goodTable th,
.goodTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.goodTable tbody tr:hover {
    background-color: #f0f0f0;
}

.goodTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.goodTable tbody {
    display: block;
    max-height: 900px;
    overflow-y: scroll;
}

.goodTable thead tr,
.goodTable tbody tr:nth-child(1) {
    position: sticky;
    top: 0;
    background-color: #fff;
}


.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	margin: auto; 
	width: 90%; 
	padding: 10px;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
  background-color: #fff;
}
.content > p table td, .content > div table td {
  padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}
.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}