* {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body , #auth{
	background-color: #435165;
	margin: 0;
}
.login, .register {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.login h1, .register h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
	display: flex;
	padding: 0 15px;
}
.login .links a, .register .links a {
	color: #adb2ba;
	text-decoration: none;
	display: inline-flex;
	padding: 0 10px 10px 10px;
	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
	color: #9da3ac;
}
.login .links a.active, .register .links a.active {
	border-bottom: 3px solid #3274d6;
	color: #3274d6;
}
.login form, .register form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label, .register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #3274d6;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #3274d6;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
	background-color: #2868c7;
	transition: background-color 0.2s;
}
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
   margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
select option {
	background-color: #fff;
	color: #333;
}

/* Style the dropdown when it's open */
select:focus option:checked {
	background-color: #f0f0f0;
}

/* Style the dropdown when it's open and hovered */
select:focus option:checked:hover {
	background-color: #ddd;
}
  
/* Custom input style */
input[type="text"],
input[type="number"] {
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	color: #333;
	width: 100%;
	transition: border-color 0.3s ease-in-out;
}

/* Custom placeholder style */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  	color: #999;
}

/* Custom focus style */
input[type="text"]:focus,
input[type="number"]:focus {
	outline: none;
	border-color: #999;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



/* Table styles */
table {
	border-collapse: collapse;
	width: 80%;
	max-width: 800px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Table header styles */
  thead {
	background-color: #2196F3;
	color: #fff;
  }
  
  /* Table header and cell styles */
  th,
  td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  /* Table row hover style */
  tbody tr:hover {
	background-color: #f0f0f0;
  }
  
  /* Alternate row background color */
  tbody tr:nth-child(even) {
	background-color: #f9f9f9;
  }
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	margin: auto; 
	width: 90%; 
	padding: 10px;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
  background-color: #fff;
}
.content > p table td, .content > div table td {
  padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}
.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}

.checkbox-wrapper-19 {
box-sizing: border-box;
--background-color: #fff;
--checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
0% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) / 2);
}
}

@-webkit-keyframes dothabottomcheck-19 {
0% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothabottomcheck-19 {
0% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothatopcheck-19 {
0% {
	height: 0;
}
50% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) * 1.2);
}
}

@-webkit-keyframes dothatopcheck-19 {
0% {
	height: 0;
}
50% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) * 1.2);
}
}

@-moz-keyframes dothatopcheck-19 {
0% {
	height: 0;
}
50% {
	height: 0;
}
100% {
	height: calc(var(--checkbox-height) * 1.2);
}
}

.checkbox-wrapper-19 input[type=checkbox] {
display: none;
}

.checkbox-wrapper-19 .check-box {
height: var(--checkbox-height);
width: var(--checkbox-height);
background-color: transparent;
border: calc(var(--checkbox-height) * .1) solid #000;
border-radius: 5px;
position: relative;
display: inline-block;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: border-color ease 0.2s;
-o-transition: border-color ease 0.2s;
-webkit-transition: border-color ease 0.2s;
transition: border-color ease 0.2s;
cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
height: 0;
width: calc(var(--checkbox-height) * .2);
background-color: #34b93d;
display: inline-block;
-moz-transform-origin: left top;
-ms-transform-origin: left top;
-o-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;
border-radius: 5px;
content: " ";
-webkit-transition: opacity ease 0.5;
-moz-transition: opacity ease 0.5;
transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box::before {
top: calc(var(--checkbox-height) * .72);
left: calc(var(--checkbox-height) * .41);
box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
top: calc(var(--checkbox-height) * .37);
left: calc(var(--checkbox-height) * .05);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
border-color: #34b93d;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
height: calc(var(--checkbox-height) / 2);
-moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
-o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
-webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
height: calc(var(--checkbox-height) * 1.2);
-moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
-o-animation: dothatopcheck-19 0.4s ease 0s forwards;
-webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
animation: dothatopcheck-19 0.4s ease 0s forwards;
}